.service__card {
  width: 100%;
  max-width: 297px;
  background-color: #fff;
  text-align: center;
  padding: 20px;
  box-shadow: #32325d2b 0px 90px 130px -20px, #00000029 0px 30px 60px -30px;
  border-radius: 20px;

  h3 {
    font-weight: 500;
    margin: 0;
  }

  p {
    margin: 10px 0;
    font-size: 30px;
    font-weight: 500;
    color: #399947;
  }
  
  img {
    width: 100%;
    border-radius: 13px;
  }
}


@media screen and (max-width: 665px) {
  .service__card {
    max-width: 250px;
  }
}

@media screen and (max-width: 560px) {
  .service__card {
    max-width: 220px;

    h3 {
      font-size: 16px;
    }
  } 
}

@media screen and (max-width: 500px) {
  .service__card {
    max-width: 350px;

    h3 {
      font-size: calc(8vw - 12px);
    }

    p {
      font-size: calc(8vw - 10px);
    }
  }
}

@media screen and (max-width: 370px) {
  .service__card {
    h3 {
      font-size: calc(8vw - 8px);
    }

    p {
      font-size: calc(8vw - 5px);
    }
  }
}