.hero {
  padding: 120px 0 0;
  background-image: url('../../assets/images/ellipse.png'),
    url('../../assets/images/hero-img.png');
  background-size: 300px, 564px 855px;
  background-repeat: no-repeat;
  background-position: left -100px top -30px, right 40px top 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 100%;
    max-width: 510px;
    margin-top: 150px;
    margin-right: auto;
  }

  .hero__title {
    font-size: 70px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;

    span {
      display: inline-block;
      padding: 0 10px;
      border-radius: 7px;
      color: #fff;
      background-color: #399947;
    }
  }

  .hero__desc {
    margin-bottom: 60px;
  }

  .hero__content__btns {
    display: flex;
    align-items: center;
    font-family: 'Fredoka';

    button.video-btn {
      font-family: 'Fredoka';
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      background-color: transparent;
      font-size: 17px;
      cursor: pointer;
      font-weight: 500;
      margin-left: 30px;
      padding: 0;

      &::before {
        display: block;
        width: 45px;
        height: 45px;
        margin-right: 7px;
        background-image: url('../../assets/images/play-video.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 45px;
        content: '';
      }
    }
  }

  .hero__text {
    display: flex;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;

    &::before {
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 7px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url('../../assets/images/earth.svg');
      content: '';
    }
  }
}

@media screen and (max-width: 1085px) {
  .hero {
    padding: 80px 0 0;

    &__content {
      width: 400px;
    }

    .hero__title {
      font-size: 50px;
    }

    .hero__desc {
      font-size: 15px;
    }

    .hero__content__btns {
      button {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 970px) {
  .hero {
    background-size: 300px, 60% auto;
    background-position: left -100px top -30px, right 0 top 120px;
  }
}

@media screen and (max-width: 820px) {
  .hero {
    &__content {
      width: 100%;
      max-width: 350px;
    }

   &__content__btns {
      display: flex;
      flex-direction: column;
      align-items: flex-start !important;

      button.video-btn {
        margin: 10px 0 0 !important;
      }
    }

    .hero__text {
      margin-top: 70px !important;
    }
  }
}

@media screen and (max-width: 730px) {
  .hero {
    background-image: url('../../assets/images/ellipse.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: left -100px top -30px;

    &__content {
      width: 100%;
      max-width: 500px;
      margin: 60px auto 0;
      text-align: center;
    }

    &__content__btns {
      flex-direction: row;
      align-items: center !important;
      justify-content: space-between;
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
    }

    &__text {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 520px) {
  .hero {
    .hero__title {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 420px) {
  .hero {
    .hero__title {
      font-size: 30px;
    }

    .hero__desc {
      margin-bottom: 40px !important;
    }
  }
}

@media screen and (max-width: 380px) {
  .hero {
    .hero__content__btns {
      flex-direction: column;
    }

    .hero__text {
      margin-top: 40px !important;
    }
  }
}